body {
	margin: 0;
}

.images-container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #e9eff8;
}

.images-container-inner {
	width: 100%;
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	box-sizing: border-box;
}

.pick-img-form {
	padding: 10px;
	border-radius: 5px;
	max-width: 400px;
	background-color: #fff;
}

.pick-img-form ::-webkit-file-upload-button, .pick-img-btn {
	background-color: #ff9c70;
	border-radius: 5px;
	padding: 8px;
	color: #fff;
	border: none;
	cursor: pointer;
}

.delete_btn {
	background-color: transparent;
	border: none;
	position: absolute;
	top: -15px;
	right: -15px;
	cursor: pointer;
}

.single_image {
	text-decoration: none;
}

.img_wrapper {
	position: relative;
	margin-right: 30px;
}

.back-btn {
	text-decoration: none;
	padding: 8px;
}